.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.card {
  margin: 10px;
  cursor: pointer;
  min-height: 200px;
}

.card_vs {
  margin: 10px;
  cursor: pointer;
  min-height: 200px;
  background-image: url("/assets/images/blue.jpg");
  background-size: cover;
}

.card_gr {
  margin: 10px;
  cursor: pointer;
  min-height: 200px;
  background-image: url("/assets/images/white-washi.jpg");
}

.container:hover,
.container:focus,
.container:active,
.card:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.list {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e7feff;
  max-height: 600px;
  max-width: 800px;
  scroll-behavior: auto;
  overflow-y: auto;
}

.list span {
  color: red;
}

/* -------- unit -------- */

.flashcard {
  margin-right: 1px;
  margin-left: 1px;
  border: 1px solid black;
  border-radius: 5px;
  height: 250px;
  max-width: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* -------- detail -------- */
.word {
  padding-top: 2rem;
  justify-content: center;
}

.meaningRow {
  justify-content: center;
}

.meaningCol {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
