.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.card {
  margin: 10px;
  cursor: pointer;
}

.container:hover,
.container:focus,
.container:active,
.card:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.list {
  border: 1px solid brown;
  max-height: 600px;
  background-color: white;
  scroll-behavior: auto;
  overflow-y: auto;
}

.list span {
  color: red;
}

.word {
  padding-top: 2rem;
  justify-content: center;
}

.meaningRow {
  justify-content: center;
}

.meaningCol {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
